* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "byekan";
  src: url("../../fonts/BYekan.ttf");
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("image/index.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  /*background-position-x: left;*/
  background-attachment: fixed;
  /*flex-basis: ;*/
  /*background-position-y: left;*/
  /*backdrop-filter: blur(4px);*/
  /*z-index: 20;*/
  user-select: none;
  font-family: byekan;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
.image-icon {
  width: 10rem;
  height: 10rem;
  margin-right: 55rem;
}
.black-box {
  position: absolute;
  margin-right: 20rem;
  margin-top: 10rem;
  width: 30rem;
  height: 40rem;
  background-color: rgb(0, 0, 0);
  z-index: 25;
  color: white;
  border-radius: 20px;
  box-shadow: -0.4rem -0.9rem 5rem 2rem #094bbe;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 0, 0, 0.53);
  backdrop-filter: blur(-1px);
  z-index: 1;
}
.title-black-register-box {
  text-align: center;
  font-size: 22px;
  /*padding-top: 10px;*/
  padding-top: 1rem;
}
.whiteBox {
  background-color: white;
  width: 80%;
  height: 70%;
  color: #3d3d3d;
  margin-right: 10%;
  margin-top: 10%;
  border-radius: 10px;
}
label {
  padding-right: 1rem;
}
.label {
  padding-top: 20px;
}
.input {
  width: 50%;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 2px solid #c2c2c2;
  /*transition: 0.8s ease;*/
  outline: none;
  font-size: 18px;
  font-family: byekan;
  /*font-family: "Dubai Light";*/
  padding-right: 10px;
}
.input:focus {
  border: 2px solid #094bbe;
  transition: 0.4s ease;
  outline: none;
  font-size: 18px;
  padding-right: 10px;
}
.name {
  margin-right: 1.1rem;
}
.username {
  margin-right: 3.9rem;
}
.email {
  margin-right: 5.5rem;
}
.phone {
  margin-right: 3rem;
}
.password {
  margin-right: 4.4rem;
}
.repassword {
  margin-right: 2.2rem;
}
.reg-button {
  width: 80%;
  height: 3rem;
  margin-right: 10%;
  margin-top: 1.4rem;
  background-color: #094bbe;
  color: white;
  text-align: center;
  font-family: byekan;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: none;
}
.reg-button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  transition: 0.8s ease;
}
.login-link {
  margin-right: 10%;
  margin-top: 0.7rem;
}
.link-login {
  color: #094bbe;
  text-decoration: none;
  font-size: 1.2rem;
}
.warning {
  margin-right: 10%;
  margin-top: 0.7rem;
}
.rule {
  color: #094bbe;
  text-decoration: none;
  font-size: 1.2rem;
}
.rule:hover {
  cursor: pointer;
  color: cornflowerblue;
  transition: 0.8s ease;
}
.textError {
  color: #c80b0b;
  font-size: 0.87rem;
  font-weight: 600;
  padding-right: 9rem;
}
.textError-hidden {
  display: none;
}
/*.textError-hidden-name {*/
/*  display: none;*/
/*}*/
.eye{
  width: 20px;
  height: 20px;
  margin-left: 3rem;
  /*position: absolute;*/
}
form i {
  /*margin-left: -30px;*/
  cursor: pointer;
}